.getUserDetails {
  margin: 20px 68px; }
  .getUserDetails #gitProfileName {
    padding: 11px;
    width: 75%;
    font-size: 20px;
    display: inline; }
  .getUserDetails a {
    font-size: 20px;
    padding: 18px;
    text-decoration: none;
    background: #46c49b;
    color: white;
    margin: 23px 0px;
    text-align: center;
    width: 140px;
    display: block; }
